<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/admin/index" />
</head>
<body>
    <form>
        <input type="text" id="txtName" name="name" placeholder="请输入帐号" required="required" autofocus="autofocus" />
        <input type="password" id="txtPwd" name="pwd" placeholder="请输入帐号" required="required" />
        <input type="submit" id="btnSubmit" value="提交" />
    </form>
    <script src="//cdn.jsdelivr.net/npm/jquery@3"></script>
    <script src="/js/admin/index"></script>
</body>
</html>
