<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Feng Home</title>
        <link rel="stylesheet" type="text/css" href="/css/admin/public" />
        <link rel="stylesheet" type="text/css" href="/css/admin/posts" />
    </head>
    <body>
        <?php require_once 'Header.html'; ?>
        <div id="main">
            <form>
                <label for="category">分类：</label>
                <select id="category" name="category_id">
                    <option value="">所有</option>
                    <?php
                        foreach($categories as $category) {
                            echo '<option value="', $category['id'], '">';
                            for($i = 1; $i < $category['deep']; $i++){
                                echo '&nbsp;&nbsp;&nbsp;&nbsp;';
                            }
                            echo $category['name'], '</option>';
                        }
                    ?>
                </select>
                <label for="post_status">状态：</label>
                <select id="post_status" name="status">
                    <option value="-1">全部</option>
                    <option value="0">删除</option>
                    <option value="1">正常</option>
                    <option value="2">草稿</option>
                </select>
                <input type="text" id="txtSearch" name="search" placeholder="请输入搜索的内容" />
                <input type="hidden" id="hidCount" name="count" value="5" />
                <input type="hidden" id="hidStartLtTime" name="start_lt_time" />
                <input type="hidden" name="columns" value="id,title,status" />
                <input type="submit" id="btnSubmit" value="搜索" />
            </form>
            <table id="tbList">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <script src="//cdn.jsdelivr.net/npm/jquery@3"></script>
        <script src="/js/admin/posts"></script>
    </body>
</html>
