<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Feng Home</title>
        <link rel="stylesheet" type="text/css" href="/css/admin/public" />
        <link rel="stylesheet" type="text/css" href="/css/admin/post" />
    </head>
    <body>
        <?php require_once 'Header.html'; ?>
        <form>
            <fieldset>
                <input type="hidden" id="id" name="id" value="<?php echo $id; ?>" />
                <input type="text" id="title" name="title" placeholder="请输入标题" required="required" maxlength="100" value="<?php echo $title; ?>" /> 
                <input type="text" id="subtitle" name="subtitle" placeholder="副标题" maxlength="100" value="<?php echo $subtitle; ?>" /> 
                <textarea id="foreword" name="foreword" placeholder="引言"><?php echo $foreword; ?></textarea>
                <textarea id="content" name="content" placeholder="内容"><?php echo $content; ?></textarea>
                <input type="hidden" id="hidStatus" name="status" value="<?php echo $status; ?>" />

                <input type="submit" id="btnSubmit" value="发布" />
                <input type="button" id="btnSave" value="存草稿" />
                <input type="button" id="btnPreview" value="预览" />
            </fieldset>
            <fieldset>
                <label>分类</label>
                <ul id="categories">
                    <?php 
                        foreach($categories as $category) {
                            echo '<li>';
                            for($i = 1; $i < $category['deep']; $i++) {
                                echo '&nbsp;&nbsp;&nbsp;&nbsp;';
                            }
                            echo '<input type="checkbox" id="category_', $category['id'], '" name="category_ids[]" value="', $category['id'], '"', (in_array($category['id'], $post_categories) ? ' checked="checked"' : ''), ' />';
                            echo '<label for="category_', $category['id'], '">', $category['name'], '</label>';
                            echo '</li>';
                        }
                    ?>
                </ul>
            </fieldset>
        </form>
        <script src="//cdn.jsdelivr.net/npm/jquery@3"></script>
        <script src="//cdn.jsdelivr.net/npm/kindeditor@4.1.10/kindeditor-all.js"></script>
        <script src="/js/admin/post"></script>
    </body>
</html>
