<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="<?php echo \Conf::SITE_AUTHOR ?>">
    <meta name="description" content="<?php echo \Conf::SITE_INFO ?>">
    <title>录音功能Demo<?php echo \Conf::SITE_NAME; ?></title>
</head>
<body>
    <input type="button" value="开始录音" id="btnStartRecord" />
    <input type="button" value="播放录音" id="btnPlayRecord" />
    <input type="button" value="在audio中播放录音" id="btnPlayRecordWithAudio" />
    <audio id="au" controls="controls"></audio>


    <script src="//cdn.jsdelivr.net/npm/jquery@3"></script>
    <script src="/js/jQueryPlugin/recorder/recorder.Web/recorderBySHF"></script>
    <script>
        ;(function($){
            $(function(){
                recorderBySHF.ready(function(instance){
                    var recorder = instance.create({});
                    $("#btnStartRecord").on("click", function(){
                        if($(this).val() == "开始录音") {
                            $(this).val("停止录音");
                            recorder.start();
                        }
                        else {
                            $(this).val("开始录音");
                            recorder.stop();
                        }
                    });
                    $("#btnPlayRecord").on("click", function(){
                        $("#btnStartRecord").val() == "停止录音" && $("#btnStartRecord").click();
                        recorder.play();
                    });
                    $("#btnPlayRecordWithAudio").on("click", function(){
                        $("#btnStartRecord").val() == "停止录音" && $("#btnStartRecord").click();
                        var wav = recorder.get("wav");
                        $("#au")[0].setAttribute("src", URL.createObjectURL(new Blob([wav], { "type": "audio/wav" })));
                    });
                });
            });
        }(jQuery));
    </script>
</body>
</html>
