html,body{
    margin:0;
    padding:0;
}
html{
    font-size:20px;
}
body{
    font-size:0.7rem;
    color:rgb(68,68,68);
}
header{
    margin-bottom:1.5rem;
    padding-top:1.75rem;
    padding-bottom:1.25rem;
    border-bottom:0.05rem solid rgb(238,238,238);
}
header a{
    margin-left:calc(50vw - 25rem);
    color:rgb(68,68,68);
    font-size:2rem;
    text-decoration:none;
}
@media all and  (max-width: 51.2rem) {
    header a{
        margin-left:1rem;
    }
}
header nav {
    display:none;
    margin:0 auto;
    padding:0;
    width:80%;
    max-width:51.2rem;
}
header nav a{
    margin:0;
    padding:0 1rem;
    height:inherit;
    color:rgb(68,68,68);
    border:0.05rem solid rgb(238,238,238);
    border-collapse:collapse;
    text-decoration:none;
}
#main {
    margin:0 auto;
    max-width:51.2rem;
    display:flex;
    flex-flow:row nowrap;
}
#articles {
    flex:1 1 auto;
}
article {
    padding:0.75rem 0 1rem 0;
    border-bottom:1px solid rgb(238, 238, 238);
}
article h1 {
    margin:0 0 0.8rem 0;
    font-size:1rem;
}
article h1 a{
    color:rgb(51,84,170);
    text-decoration:none;
}
article h1 a:hover{
    color:rgb(68, 68, 68);
}
article h4{
    margin: 0;
    font-weight: normal;
}
#categories{
    margin-left:1.5rem;
    padding:1rem;
    width:auto;
    list-style:none;
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
}
#categories a{
    margin:0.2rem;
    cursor:pointer;
    color:rgb(70,123,150);
    text-decoration:none;
}

footer{
    margin-top:2rem;
    text-align:center;
}
